<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h3>Want to create new post? insert info...</h3>
    <form method="post" action="/posts">
        <input placeholder="username" name="username" type="text"> <br><br>
        <textarea id="textarea" name="content"  rows="4" cols="20"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>